<!DOCTYPE html>
<html>
<head>
    <title>{{ page_title }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Welcome to My Recipe Webzone!</h1>
	<h2>I have big plans for this space.</h2>
	<p>Check out our infamous <a href="{{ url_for('recipes_page') }}">Recipes Page!</a></p>
	<img src="{{ url_for('static', filename='funny_pic.jpg') }}" alt="A funny image related to recipes" style="max-width: 500px; display: block; margin: 20px auto;">
   
</body>
</html>